@import 'github.css';

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article h1 a {
  color: #000;
}

h1 a:hover {
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

.content p,
.content ul,
.content ol,
.content .category-items {
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content img {
  max-width: 100%;
}

.content img.f-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}

@media only screen and (max-width: 768px) {
  .content img.f-right {
    float: none;
    display: block;
    margin: 10px auto;
  }
}

.content code {
  font-size: 16px;
}

.content pre {
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

article footer {
  color: #777;
}

.container {
  margin: 40px auto;
}

.sidebar {
  padding: 0px 5px;
  text-align: right;
}

.sidebar .avatar {
  border-radius: 50%;
  width: 100px;
}

.sidebar h6 {
  display: block;
  margin-top: 10px;
}

.sidebar small {
  color: #777;
  font-size: 13px;
}

.sidebar section {
  margin-bottom: 20px;
}

.sidebar section h6 {
  font-weight: bold;
}

.sidebar section a {
  display: block;
  margin-bottom: 3px;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    text-align: center;
    padding: 0px 20px;
  }

  .sidebar .category-section {
    display: none;
  }

  .sidebar .social-section {
    display: none;
  }

  .sidebar .main-menu-section h6 {
    display: none;
  }

  .sidebar .main-menu-section a {
    display: inline;
    margin: 0px 10px;
  }
}

.category-items {
  padding-left: 10px;
  margin-bottom: 20px;
}

.category-items a {
  display: block;
}

footer.main-footer {
  text-align: center;
  border-top: 1px solid whitesmoke;
  margin-top: 20px;
  padding-top: 20px;
  color: #777;
}

.home .post {
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

blockquote {
  padding-left: 7px;
  border-left: 3px solid #777;
  font-style: italic;
  color: #777;
}

.home-avatar-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home-sub-section h3 {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
}

.home-sub-section .latest-post-item {
  display: block;
  padding: 5px 0px;
}

.home-sub-section .useful-links a {
  display: block;
  padding: 5px 0px;
}

.home-note p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}
