@import "highlight-light.css" (prefers-color-scheme: light);
@import "highlight-dark.css" (prefers-color-scheme: dark);

:root {
  --first: #407bc4;
  --second: #6894bf;
  --black: #222;
  --code: #eee;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: var(--black);
  }

  :root {
    --first: #639de9;
    --second: #6cb3ea;
    --black: #ddd;
    --code: #333;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

.container {
  margin: 20px auto;
  max-width: 768px;
  font-size: 105%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--first);
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
}

a:hover {
  color: var(--second);
  text-decoration: none;
}

.header {
  text-align: center;
}

.header img {
  border-radius: 50%;
  width: 100px;
}

.menu a {
  margin: 0px 5px;
  padding: 5px;
  font-weight: bold;
}

.content p,
.content ul,
.content ol,
.content pre,
.content .category-items,
.home .note p {
  color: var(--black);
  word-wrap: break-word;
  line-height: 140%;
}

.home h1 {
  font-size: 250%;
}

article h1 a {
  color: var(--black);
}

article h1 {
  font-size: 250%;
}

h1 a:hover {
  text-decoration: none;
}

.content img {
  max-width: 100%;
  margin: unset;
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}

.content img.f-right {
  display: unset;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}

.content p {
  text-align: justify;
  hyphens: auto;
}

.content em {
  font-size: small;
}

.content pre {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--code);
}

pre {
  overflow-x: auto;
  word-wrap: break-word;
  word-break: break-all;
}

code {
  background-color: var(--code);
  border-radius: 3px;
  padding: 3px;
}

article footer {
  color: #777;
  margin-top: 5px;
}

footer.main-footer {
  text-align: center;
  border-top: 1px solid whitesmoke;
  margin-top: 20px;
  padding-top: 20px;
  color: #777;
  font-size: small;
}

.blog .post {
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

blockquote {
  padding-left: 7px;
  border-left: 3px solid var(--first);
  font-style: italic;
  color: var(--black);
}

.home {
  text-align: center;
}
.home .note p {
  text-align: justify;
}

.home .avatar-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home-sub-section h3 {
  border-bottom: 1px solid var(--second);
  padding-bottom: 10px;
}

.home-sub-section .latest-post-item {
  display: block;
  padding: 5px 0px;
}

.home-sub-section .latest-posts small {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.home-sub-section .useful-links {
  float: right;
  width: 49.5%;
}

.home-sub-section .useful-links a {
  display: block;
  padding: 5px 0px;
}

.comment-form input,
.comment-form textarea {
  display: block;
  width: 100%;
  margin: 5px 0px;
  border: #ccc solid 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 110%;
  padding: 5px;
  color: var(--black);
}

.comment-form textarea {
  min-height: 200px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

.comment-form button {
  padding: 7px;
  background-color: black;
  color: white;
  border: 0;
  font-size: 110%;
}

.comment-info-banner-success {
  background-color: lightgreen;
  color: green;
  padding: 5px;
  border: 1px solid green;
}

.comment-info-banner-fail {
  background-color: lightpink;
  color: maroon;
  padding: 5px;
  border: 1px solid maroon;
}

.comment-item {
  border: 1px solid gray;
  margin: 10px 0px;
}

.comment-item .name {
  padding: 10px 5px;
  background-color: #ccc;
  font-weight: bold;
  color: black;
}

.comment-item .message {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .post {
    margin: 0 7px;
  }

  .content img {
    margin: 5px auto;
  }

  .content img.f-right {
    float: none;
    display: block;
  }

  .content p,
  .content ul,
  .content ol,
  .content .category-items,
  .home .note p {
    text-align: justify;
  }

  .home {
    margin: 0 7px;
  }
}
