<div id="disqus_thread"></div>
<div id="cookie_notice" class="alert alert-info">
  The comment section uses cookies and third-party JavaScripts. To enable
  comments please click the approve button. For more information please checkout
  <a
    href="https://help.disqus.com/en/articles/1717103-disqus-privacy-policy"
    target="_blank"
    >Disqus privacy policy</a
  >
  <button id="approve_cookie" class="btn btn-sm btn-primary">Approve</button>
</div>
<script>
  var cookie_container = document.getElementById('cookie_notice');
  document.getElementById('approve_cookie').onclick = function () {
    setCookie('cookie-confirm-accepted', '1', 30);
    window.location.reload();
  };

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    var expires = 'expires=' + d.toUTCString();
    document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
  }

  function getCookie(cname) {
    var name = cname + '=';
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return '';
  }
  var disqus_config = function () {
    this.page.url = '{{site.url}}{{ page.url }}';
    this.page.identifier = '{{ site.url }}{{ page.url }}';
  };

  (function () {
    cookie_container.style.display = 'block';
    if (getCookie('cookie-confirm-accepted') === '') {
      return;
    }
    cookie_container.style.display = 'none';
    var d = document,
      s = d.createElement('script');

    s.src = 'https://ramezanpour.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript" rel="nofollow"
    >comments powered by Disqus.</a
  >
</noscript>
