<section class="header">
  <img src="/assets/images/me.jpg" alt="Mohammad Mahdi Ramezanpour" />
  <h1>{{ site.title }}</h1>
  <nav class="menu">
    <a href="{% link index.html %}">Home</a>
    <a href="{% link blog/index.html %}">Blog</a>
    <a href="{% link about.markdown %}">About</a>
    <a href="{% link contact.markdown %}">Contact</a>
    <a href="https://linkedin.com/in/ramezanpour" target="_blank">LinkedIn</a>
    <a href="https://www.goodreads.com/ramezanpour" target="_blank">Books</a>
    <a href="{% link feed.xml %}">RSS</a>
  </nav>
</section>
