<section>
    <img class="avatar" src="https://www.gravatar.com/avatar/2ea74e0eab928803eddd8b3d2a90b995?s=128"/>
    <h6>{{site.title}}</h6>
    <small>{{site.description}}</small>
</section>

<section class="main-menu-section">
    <h6>Menu</h6>
    <a href="{% link index.html %}">Home</a>
    <a href="{% link about.markdown %}">About</a>
    <a href="{% link contact.markdown %}">Contact</a>
    <a href="{% link feed.xml %}">RSS</a>
</section>
<section class="social-section">
    <h6>Follow me</h6>
    <a href="https://github.com/ramezanpour">GitHub</a>
    <a href="https://gitlab.com/mmramezanpour">GitLab</a>
    <a href="https://twitter.com/ramezanpour">Twitter</a>
</section>

<section class="category-section">
    <h6>Categories</h6>
    {% for category in site.categories %}
        {% capture category_name %}
            {{ category |
  first }}
        {% endcapture %}
        <a href="{{ site.baseurl | relative_url }}/categories/#{{category_name | slugize}}">
            {{ category | first | capitalize }}
            {% unless forloop.last %}{% endunless
    %}
        </a>
    {% endfor %}
</section>
