<section>
  <img
    class="avatar"
    src="/assets/images/me.jpeg"
  />
  <h6>{{site.title}}</h6>
  <small>{{site.description}}</small>
</section>

<section class="main-menu-section">
  <h6>Menu</h6>
  <a href="{% link index.html %}">Home</a>
  <a href="{% link about.markdown %}">About</a>
  <a href="{% link contact.markdown %}">Contact</a>
  <a href="{% link feed.xml %}">RSS</a>
</section>
<section class="social-section">
  <h6>Follow me</h6>
  <a href="https://github.com/ramezanpour">GitHub</a>
  <a href="https://www.goodreads.com/ramezanpour">Goodreads</a>
  <a href="https://www.linkedin.com/in/ramezanpour/">LinkedIn</a>
</section>

<section class="category-section">
  <h6>Categories</h6>
  {% for category in site.categories %}{% capture category_name %}{{category |
  first}}{% endcapture %}
  <a
    href="{{ site.baseurl | relative_url }}/categories/#{{category_name | slugize}}"
  >
    {{ category | first | capitalize }} {% unless forloop.last %}{% endunless %}
  </a>
  {% endfor %}
</section>
